/*.total {
	background-color: teal;
	margin-bottom: 15px;
	margin-top: 10px;
	width: 200px;
	height: 45px;
}*/
body{
	margin: 10px;
}
.click {
	height: 80px;
	width: 80px;
	color: green;
}


#addNumber{
background-color: green;
	font-size: 45;
	color: white;
	padding: 30px;
	width: 50px;
	height: 10px;
}